* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

#root {
  height: 100%;
}

:root {
  --color-grecian-blue: #2988BC;
  --color-sea: #2F496E;
  --color-plaster: #F4EADE;
  --color-coral: #ED8C72;
}