.activities {
  // TODO: temporary
  border: 1px solid black;

  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem 2rem;
  list-style: none;
  padding: .5rem;

  &__category {
    border: 2px solid var(--color-sea);
    padding: .4rem .6rem;
    border-radius: 5px;
    cursor: pointer;
    color: var(--color-sea);
    font-size: 20px;
    transition: 0.3s;

    &:hover, &--selected {
      background-color: var(--color-grecian-blue);
      color: whitesmoke;
    }
  }
}

// This is a scrollable flex container.
// It was a bit tricky to make it scrollable, since it doesn't have a fixed height.
// Luckily, I found the solution here: https: //codepen.io/neilff/pen/myNdpr.
.activities-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-block-start: 2rem;
  position: absolute;
  inset: 0;

  &__title {
    text-align: center;
    color: var(--color-sea);
    font-size: 25px;
    position: relative;
    right: 10px;
  }

  &__body {
    list-style: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    row-gap: 1.5rem;
    padding-block: 1rem;
  }

  &__activity {
    width: 80%;
    text-align: center;
    padding-block: .9rem;
    border: 4px solid whitesmoke;
    background-color: var(--color-sea);
    color: whitesmoke;
    border-radius: 10px;
    transition: 0.3s;

    &:hover{
      border: 4px solid var(--color-sea);
      color: var(--color-sea);
      background-color: whitesmoke;
    }
    
  }
}

.activities-wrapper {
  position: relative;
  flex-grow: 1;
}