.activities {
  // TODO: temporary
  border: 1px solid black;

  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem 2rem;
  list-style: none;
  padding: .5rem;

  &__category {
    border: 1px solid aqua;
    padding: .4rem .6rem;
    border-radius: 5px;
    cursor: pointer;

    &:hover, &--selected {
      background-color: aliceblue;
    }
  }
}

// This is a scrollable flex container.
// It was a bit tricky to make it scrollable, since it doesn't have a fixed height.
// Luckily, I found the solution here: https: //codepen.io/neilff/pen/myNdpr.
.activities-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-block-start: 2rem;
  position: absolute;
  inset: 0;

  &__title {
    text-align: center;
  }

  &__body {
    list-style: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    row-gap: 2.5rem;
    padding-block: 1rem;
  }

  &__activity {
    width: 80%;
    text-align: center;
    padding-block: .9rem;
    border: 3px solid darkblue;
    border-radius: 6px;
  }
}

.activities-wrapper {
  position: relative;
  flex-grow: 1;
}