// Scroll bar style taken from 
// https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar2

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-sea); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-grecian-blue); 
}

// The end of scroll bar

.daily-planner {
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.days-wrapper {
  position: relative;
  width: 100%;
  min-height: 3rem;
}

.days {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  border-bottom: 1px solid var(--color-sea);
  border-top: 2px solid var(--color-sea);
  overflow-x: auto;
  position: absolute;
  inset: 0;
  background-color: #e1f0f8;

  &__day {
    display: flex;
    place-items: center;
    cursor: pointer;
    padding-inline: 1rem;
    color: var(--color-sea);
    background-color: #e1f0f8;
    transition: 0.3s;

    & > span {
      width: max-content;
    }

    &--selected, &:hover {
      background-color: var(--color-grecian-blue);
      color: whitesmoke;
    }

    &:not(:last-child) {
      border-right: 2px solid var(--color-sea);
    }
  }
}

.day-activities {
  flex-grow: 1;
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: var(--activities-gap);
  padding-block-start: 1rem;
  position: relative;
  --left-space: 6.1rem;
  --activities-gap: 1rem;

  &:not([data-is-empty='true'])::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    background: var(--color-grecian-blue);
    top: 0;
    left: var(--left-space);
  }

  &__activityName{
    padding: 1rem;
    border-radius: 10px;
    color: whitesmoke;
    background-color: var(--color-sea);
  }

  &__activity {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding-inline: 0.5rem;
    position: relative;
    cursor: pointer;

    &::after {
      content: attr(data-index);
      position: absolute;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: 2px solid var(--color-sea);
      background-color: whitesmoke;
      color: var(--color-sea);
      display: flex;
      justify-content: center;
      align-items: center;
      left: var(--left-space); 
      transform: translateX(-50%);
      z-index: 1;
      font-weight: bold;
    }

    &[data-has-pointer-entered=true]::before {
      content: "";
      width: 100%;
      position: absolute;
      height: var(--activities-gap);
      background-color: lightgray;
      left: 0;
      top: 100%;
      z-index: 2;
    }
  }

  &__note {
    flex-grow: 1;
    resize: none;
    padding: .3rem;
  }

  &__hours {
    margin-right: 1rem;

    & > input {
      padding: 0.1rem 0.2rem;
      text-align: center;
      margin-right: 1rem;
    }
  }

  &__actions {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__action {
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    place-items: center;
    font-weight: bold;
    height: 2rem;
    width: 2rem;

    &:not(:focus, :active) {
      outline: none;
      border: none;
    }

    &--delete {
      background-color: var(--color-coral);
      color: whitesmoke;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.noactivities{
  color: var(--color-sea);
  font-size: 1.5rem;
  text-align: center;
}