//     --color-grecian-blue: #2988BC;
//     --color-sea: #2F496E;
//     --color-plaster: #F4EADE;
//     --color-coral: #ED8C72;

.details {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &__title{
        color: var(--color-sea);
        font-size: 35px;
        position: relative;
        right: 10px;
    }

    &__image {
        border: none;
        
        &__img{
            width: 20vw;
            height: auto;
            border-radius: 6px;
        }
        &__country-city{
            position: relative;
            bottom: 55px;
            left: 10px;
            color: var(--color-plaster);
            font-size: 37px;
            text-shadow: 2px 2px var(--color-coral);
        }
    }
    &__dates{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        &__start{
            font-size: 20px;
            color: whitesmoke;
            background-color: var(--color-grecian-blue);
            border: 2px solid var(--color-sea);
            border-radius: 5px;
        }

        &__end{
            font-size: 20px;
            color: whitesmoke;
            background-color: var(--color-grecian-blue);
            border: 2px solid var(--color-sea);
            border-radius: 5px;
        }
    }

    &__todo{
        border: none;
        &__input{
            border: 2px solid var(--color-sea);
            border-radius: 3px;
        }
        &__button{
            border-radius: 5px;
            width: 50px;
            background-color: var(--color-grecian-blue);
            color: whitesmoke;
            border: 2px solid var(--color-sea);
        }
        &__title{
            text-align: center;
            color: var(--color-sea);
        }
        &__todos{
            border: none;
            &__todo {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                &__buttonCheck{
                    border-radius: 5px;
                    background-color: var(--color-grecian-blue);
                    color: whitesmoke;
                    border: 2px solid var(--color-sea);
                }
                &__buttonRemove{
                    border-radius: 5px;
                    background-color: var(--color-grecian-blue);
                    color: whitesmoke;
                    border: 2px solid var(--color-sea);

                }
            }
        }
    }

   
  }
