.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-grecian-blue);
    position: fixed;
    width: 100%;
    height: var(--header-height);
    z-index: 3;

    & a, span {
        color: #fff;
        text-decoration: none;
    }

    & span {
        cursor: pointer;
    }

    &__title {
        font-family: 'Lobster', cursive;
        font-size: 1.8rem;
        padding-block: 0.5rem;
        margin-left: 5vw;
        color: #fff;
    }

    &__tabs {
        display: flex;
        gap: 1rem;
        list-style: none;
        font-size: 1.3rem;
        height: 100%;
        align-items: center;
        padding-inline-end: 7vw;
    }

    &__nav {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__tab {
        height: 100%;
        display: flex;
        place-items: center;

        & > * {
            height: 100%;
            display: flex;
            place-items: center;
            padding: 1rem;

            &:hover {
                background-color: var(--color-sea);
            }
        }
    }

    & + * {
        margin-top: var(--header-height);
    }
}